* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #74ebd5, #acb6e5); /* Updated gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 15px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-header {
  background-color: #007bff;
  color: white;
  border-radius: 15px 15px 0 0;
}

.btn-primary {
  border-radius: 50px;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
}

#url {
  border-radius: 50px;
  padding: 10px;
  width: 100%;
}

#result {
  text-align: center;
  margin-top: 20px;
  color: #28a745;
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  .card-header {
    font-size: 1.2rem;
  }

  #url {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }
}
